@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    background: #3A8C5D;
    font-family: 'NanumSquareNeo-Variable';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
}

.mypage-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
}

.mypage-left{
    width: 30%;
    margin-top: 100px;
    padding: 50px 60px;
}

.mypage-right{
    width: 70%;
    margin-top: 100px;
    padding: 50px 40px;
}

.left-list{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 2rem;
}

.list-item{
    text-align: left;
    margin-bottom: 10px;
    margin-left: 80px;
    text-decoration: none;
    color: #000;
}

.list-item:hover{
    color: #3A8C5D;
    font-weight: bold;
    text-decoration: none;
}

.info-box{
    width: 800px;
    height: 150px;
    background-color: #3A8C5D;
    color: #FFFFFF;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-box2{
    display: flex;
}

.info-txt{
    display: flex;
    align-items: center;
    height: 50px;
}

.info-level-box{
    width: 350px;
    height: 100px;
    background-color: #FFF;
    padding: 10px 30px;
}

.member-container{
    width: 100%;
    height: 90%;
    background-color: #FFF;
    border-radius: 15px;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.member-left-img{
    height: 100%;
    border-radius: 15px 0 0 15px;
}

.member-right{
    margin: 4rem 10rem;
    align-items: center;
}

.member-p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
}

.member-msg{
    font-size: smaller;
    margin-bottom: 0px;
}

.input-container {
    display: flex;
    align-items: center;
    width: 340px;
}

.member-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.forgotpassword{
    margin-top: 1rem;
    color: #3A8C5D;
}

.member-form{
    width: 90%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.member-label{
    margin-top: 5px;
    font-weight: bold;
    font-size: 15px;
    display: block;
    margin-bottom: 5px;
}

.member-btn {
    width: 90px;
    font-size: smaller;
    color: #3A8C5D;
    background-color: #FFF;
    border: 1px solid #3A8C5D;
    border-radius: 0.25rem;
    padding: 8px;
    margin-left: 5px;
}

.member-btn:hover {
    color: #fff;
    background-color: #3A8C5D;
    border-color: #3A8C5D;
    text-decoration: none;
}

.member-btn:disabled{
    pointer-events: none;
    opacity: 0.65;
    color: #fff;
    background-color: #9d9d9d;
    border-color: #9d9d9d;
}

.member-btn:focus {
    color: #9d9d9d;
    background-color: #3A8C5D;
    border-color: #3A8C5D;
    box-shadow: 0 0 0 0.25rem rgba(84, 165, 119, 0.5);
}

.member-submit-btn{
    width: 120px;
    color: #FFF;
    background-color: #3A8C5D;
    border: 1px solid #3A8C5D;
    border-radius: 50px;
    padding: 8px;
    margin-right: 5px;
}

.member-submit-btn2{
    width: 120px;
    color: #3A8C5D;
    background-color: #FFF;
    border: 1px solid #3A8C5D;
    border-radius: 50px;
    padding: 8px;
    margin-right: 5px;
}

.member-submit-btn:hover {
    color: #3A8C5D;
    background-color: #FFF;
    border-color: #3A8C5D;
    text-decoration: none;
}

.member-submit-btn2:hover{
    color: #FFF;
    background-color: #3A8C5D;
    border-color: #3A8C5D;
    text-decoration: none;
}

.member-submit-btn:disabled{
    pointer-events: none;
    opacity: 0.65;
    color: #fff;
    background-color: #9d9d9d;
    border-color: #9d9d9d;
}

.member-submit-btn:focus {
    color: #9d9d9d;
    background-color: #3A8C5D;
    border-color: #3A8C5D;
    box-shadow: 0 0 0 0.25rem rgba(84, 165, 119, 0.5);
}

.member-btn-div{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.member-btn-div2{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.member-div2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.level-select{
    width: 90%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.gender-radio{
    margin-top: 5px;
}

/* 모바일 화면 스타일 */
@media (max-width: 1024px) {
    .member-left-img {
        display: none;
    }

    .member-right{
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 15px;
    }

    .member-form{
        width: 100%;
    }

    .input-container{
        width: 90%;
    }

    .info-box {
        display: none;
    }

    .mypage-container {
        flex-direction: column;
    }

    .mypage-left {
        width: 100%;
        padding: 5px;
    }

    .info-box {
        display: none;
    }

    .writeList{
        max-width: 350px;
    }
    .mypage-right{
        margin-top: 0;
        padding: 15px;
    }
}

.input-form {
    max-width: 680px;

    margin-top: 80px;
    padding: 32px;

    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}

#deleteForm {
    margin: 20px 0;
}

#deleteButton {
    background-color: #3A8C5D;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

#deleteButton:hover {
    background-color: #2E5955;
}

.writeList{
    width: 800px;
}
